<div class="vigenere">
  <div class="key-entry">
    <label for="key">Key: </label>
    <input id="key" type="text" size="50" [(ngModel)]="vigenereKey" (ngModelChange)="handleVigenereKeyChange()"/>
  </div>
  <div class="vigenere-flex">
    <div>
      <label for="encrypt">Encrypt:</label>
      <br/>
      <textarea id="encrypt" rows="10" cols="50" [(ngModel)]="vigenerePlaintext"
                (ngModelChange)="handleVigenereEncryptionChange()"></textarea>
    </div>
    <img src="https://starpng.com/public/uploads/preview/double-sided-arrow-png-51575265495yriug9wtzm.png"
         alt="double arrow" width="150px"/>
    <div>
      <label for="decrypt">Decrypt:</label>
      <br/>
      <textarea id="decrypt" rows="10" cols="50" [(ngModel)]="vigenereCiphertext"
                (ngModelChange)="handleVigenereDecryptionChange()"></textarea>
    </div>
  </div>
  <div class="vigenere-explanation">
    The Vigenère cipher is similar to the Caesar cipher in that each plaintext letter is shifted by a certain amount.
    However, rather than that offset being fixed for every letter, the Vigenère cipher uses a keyword. Each letter in
    the keyword represents a different shift amount. The first letter of plaintext is shifted by the first letter of the
    keyword, the second letter of plaintext is shifted by the second letter of the keyword, and so on until the keyword
    repeats. The keyword repeats until the end of the plaintext.
    <a href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher" target="_blank">Learn More!</a>
  </div>
</div>
