.hill {
  text-align: center;
}

.hill-explanation {
  margin: 50px 15% 0px 15%;
}

.hill-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-entry {
  margin-bottom: 20px;
}

.calcTable {
  margin: 20px auto 0 auto;
  text-align: center;
}

.calcButton {
  margin: 0 15px 0 15px;
}
.space {
  padding: 10px;
}
