<div class="hill">
  <div class="key-entry">
    <label for="key">Key: </label>
    <input id="key" type="text" size="50" [(ngModel)]="hillKeyword" (ngModelChange)="handleHillKeyChange()"/>
  </div>
  <div class="hill-flex">
    <div>
      <label for="encrypt">Encrypt:</label>
      <br/>
      <textarea id="encrypt" rows="10" cols="50" [(ngModel)]="hillPlaintext"
                (ngModelChange)="handleHillEncryptionChange()"></textarea>
    </div>
    <img src="https://starpng.com/public/uploads/preview/double-sided-arrow-png-51575265495yriug9wtzm.png"
         alt="double arrow" width="150px"/>
    <div>
      <label for="decrypt">Decrypt:</label>
      <br/>
      <textarea id="decrypt" rows="10" cols="50" [(ngModel)]="hillCiphertext"
                (ngModelChange)="handleHillDecryptionChange()"></textarea>
    </div>
  </div>
<!--  <div class="hill-explanation">-->
<!--    The hill cipher, named after Julius hill, is a simple cipher in which each plaintext letter is shifted by a-->
<!--    fixed offset. For example, with an offset of 2, A becomes C, B becomes D, C becomes E, and so on.-->
<!--    <a href="https://en.wikipedia.org/wiki/hill_cipher" target="_blank">Learn More!</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h4>Want to see the calculations?</h4>-->
<!--    <button class="calcButton" (click)="showCalculations(true)">Show Details</button>-->
<!--    <button class="calcButton" (click)="showCalculations(false)">Hide Details</button>-->
<!--  </div>-->
<!--  <div class="calculations" *ngIf="showMath">-->
<!--    <table class="calcTable">-->
<!--      <tr *ngFor="let char of hillPlaintext.split(''); let i = index;">-->
<!--        <td>{{char}}</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'"> + {{hillOffset}} =></td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'">{{char.charCodeAt(0) - 65}}</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'"> + {{hillOffset}} =</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'">{{char.charCodeAt(0) - 65 + hillOffset}}</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'"> (mod 26) =</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'">{{hillCiphertext.charCodeAt(i) - 65}}</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'"> =</td>-->
<!--        <td *ngIf="char >= 'A' && char <= 'Z'; else space">{{hillCiphertext.charAt(i)}}</td>-->
<!--        <ng-template #space>-->
<!--          <td class="space"></td>-->
<!--        </ng-template>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
</div>
