.caesar {
  text-align: center;
}

.caesar-explanation {
  margin: 50px 15% 0px 15%;
}

.caesar-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offset-entry {
  margin-bottom: 20px;
}

.calcButton {
  margin: 0 15px 0 15px;
}
