<div class="caesar">
  <div class="offset-entry">
    <label for="offset">Offset (0-25): </label>
    <input id="offset" type="number" size="4" min="0" max="25" step="1" value="1" [(ngModel)]="caesarOffset"
           (ngModelChange)="handleCaesarOffsetChange()"/>
  </div>
  <div class="caesar-flex">
    <div>
      <label for="encrypt">Encrypt:</label>
      <br/>
      <textarea id="encrypt" rows="10" cols="50" [(ngModel)]="caesarPlaintext"
                (ngModelChange)="handleCaesarEncryptionChange()"></textarea>
    </div>
    <img src="https://starpng.com/public/uploads/preview/double-sided-arrow-png-51575265495yriug9wtzm.png"
         alt="double arrow" width="150px"/>
    <div>
      <label for="decrypt">Decrypt:</label>
      <br/>
      <textarea id="decrypt" rows="10" cols="50" [(ngModel)]="caesarCiphertext"
                (ngModelChange)="handleCaesarDecryptionChange()"></textarea>
    </div>
  </div>
  <div class="caesar-explanation">
    The Caesar cipher, named after Julius Caesar, is a simple cipher in which each plaintext letter is shifted by a
    fixed offset. For example, with an offset of 2, A becomes C, B becomes D, C becomes E, and so on.
    <a href="https://en.wikipedia.org/wiki/Caesar_cipher" target="_blank">Learn More!</a>
  </div>
  <div>
    <h4>Want to see the calculations?</h4>
    <button (click)="showCalculations()">Click me for more details!</button>
  </div>
  <div class="calculations" *ngIf="showMath">
    <h5 *ngFor="let char of caesarPlaintext.split(''); let i = index">{{char}} + {{caesarOffset}} => {{char.charCodeAt(0) - 65}} + {{caesarOffset}} = {{char.charCodeAt(0) - 65 + caesarOffset}} (mod 26) = {{caesarCiphertext.charAt(i)}}</h5>
  </div>
</div>
