<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Hacker"
    src="https://previews.123rf.com/images/vladimircaribb/vladimircaribb1901/vladimircaribb190100031/114419492-concept-of-cyber-crime-internet-piracy-and-hacking-shape-of-skull-combined-with-binary-code-hacker-c.jpg"
  />
  <span>CipherSite</span>
</div>

<div class="content" role="main">
  <div class="cipher-select">
    <div>
      <label for="caesar">Caesar</label>
      <input id="caesar" type="radio" name="cipher" value="caesar" [(ngModel)]="selectedCipher" [checked]="true"/>
    </div>
    <div>
      <label for="vigenere">Vigenère</label>
      <input id="vigenere" type="radio" name="cipher" value="vigenere" [(ngModel)]="selectedCipher"/>
    </div>
  </div>
  <div class="selection">
    <app-caesar *ngIf="selectedCipher === 'caesar'"></app-caesar>
    <app-vigenere *ngIf="selectedCipher === 'vigenere'"></app-vigenere>
  </div>
</div>

<router-outlet></router-outlet>
