<div class="app">
  <div class="toolbar">
    <img
      width="40"
      alt="Hacker"
      src="https://previews.123rf.com/images/vladimircaribb/vladimircaribb1901/vladimircaribb190100031/114419492-concept-of-cyber-crime-internet-piracy-and-hacking-shape-of-skull-combined-with-binary-code-hacker-c.jpg"
    />
    <span>CipherSite</span>
  </div>
  <div class="cipher-select">
    <div [ngClass]="selectedCipher === 'affine' ? 'active-tab' : 'tab'" (click)="selectedCipher = 'affine'">Affine</div>
    <div [ngClass]="selectedCipher === 'caesar' ? 'active-tab' : 'tab'" (click)="selectedCipher = 'caesar'">Caesar</div>
    <div [ngClass]="selectedCipher === 'hill' ? 'active-tab' : 'tab'" (click)="selectedCipher = 'hill'">Hill</div>
    <div [ngClass]="selectedCipher === 'vigenere' ? 'active-tab' : 'tab'" (click)="selectedCipher = 'vigenere'">Vigenère</div>
  </div>
  <div class="selection">
    <app-affine *ngIf="selectedCipher === 'affine'"></app-affine>
    <app-caesar *ngIf="selectedCipher === 'caesar'"></app-caesar>
    <app-hill *ngIf="selectedCipher === 'hill'"></app-hill>
    <app-vigenere *ngIf="selectedCipher === 'vigenere'"></app-vigenere>
  </div>
</div>

<router-outlet></router-outlet>
